#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 10em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.momojiru:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .on-play {
        animation: logo-spin infinite 12s linear;
    }

    a:nth-of-type(1) .on-pause {
        animation-play-state: paused;
    }
}

.card {
    padding: 2em;
}

.footer {
    left: 0;
    bottom: 3em;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

.buttonSound {
    justify-content: center;
}

.counter {
    font-size: 10em;
}
